body {
    background-color: var(--background-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
}

header {
    height: 10%;
}

header a {
    font-size: 15px;
    color: purple;
    display: inline-block;
    padding: 20px;
}

header h1 {
    font-size: 10px;
    float: right;
    padding: 20px;
}

h2 {
    font-weight: bolder;
    font-size: 20px;
    padding-bottom: 30px;
}

p {
    font-size: 15px;
    padding-bottom: 30px;
}

main {
    height: 80%;
    /* border: solid red 5px; */
}

.quiz-container {
    text-align: center;
    /* border: solid red 5px; */
    position: relative;
    top: 40%;
}

.hidden {
    display: none;
}

.question-title {
    font-weight: bolder;
    font-size: 20px;
    padding-bottom: 30px;
}

.answers-container {
    font-size: 15px;
    padding-bottom: 30px;
}

input {
    margin-left: 5px;
    margin-right: 5px;
}

button {
    background-color: purple;
    color: white;
    border-radius: 5px;
    margin: 5px;
}

footer {
    height: 10%;
    padding: 15px;
    font-size: 10px;
    float: right;
}