body {
    background-color: var(--background-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    text-align: center;
    font-size: 15px;
    position: relative;
    top: 40%;
}

h1 {
    color: purple;
    padding: 10px;
}

ul {
    padding: 10px;
}
